<div class="row ">
    <h2 class="text-primary ">Centro de mensajes</h2>
    <div>
        <form onsubmit="return addMessage(this)">
            <input type="text" id="username" placeholder="Acá tu email">
            <div id="messages">
                <div class="alert alert-success" role="alert">
                    <strong>¡Bienvenido!</strong>
                </div>
            </div>
            <input type="text" id="texto" placeholder="Cuéntanos algo...">
            <input class="btn btn-dark" type="submit" value="Enviar">
        </form>
    </div>
</div>