<%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <h1>Add product</h1>

        <form action="/products" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="price" placeholder="price">
            <input type="text" name="img" placeholder="image">
            <input type="submit" value="add">
        </form>