<%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <h1 class="text-center mt-5 mb-5">Add product</h1>
        <div class="container col-6">
            <form class=" form" action="/products" method="post" onsubmit="return addProduct(this)">
                <input type=" text" name="name" placeholder="Name">
                <input type="text" name="price" placeholder="Price">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="img" placeholder="Image">
                <input class="btn btn-primary col-3 mt-5" type="submit" value="addProduct">
            </form>
        </div>